---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog", ({ data }) => !data.draft))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<BaseLayout>
  <section>
    <h1 class="text-3xl font-bold text-[#121215] dark:text-[#f0f0f2] mb-2">
      Gray Beam Technology
    </h1>
    <p class="text-[#909098] dark:text-[#606068] mb-8">How can we help?</p>

    <div class="divide-y divide-[#d0d0d8] dark:divide-[#222332]">
      {posts.map((post) => (
        <BlogCard
          title={post.data.title}
          slug={post.slug}
          date={post.data.date}
          category={post.data.category}
          author={post.data.author}
        />
      ))}
    </div>
  </section>
</BaseLayout>
